

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(100px) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


.animate{
    z-index: 0;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 15% cover 45%;
}



@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


@keyframes slide {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


@media (min-width: 768px) {
    .news-slide{
        animation: 5s slide infinite linear;
    }
    
    
    
    .news:hover .news-slide{
        animation-play-state: paused;
    } 
}




